<phpunit bootstrap="./test/bootstrap.php"
         backupGlobals="false"
         backupStaticAttributes="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         stopOnError="false"
         stopOnFailure="false"
         stopOnIncomplete="false"
         stopOnSkipped="false"
         syntaxCheck="false"
         processIsolation="false"
         colors="true">
    <testsuites>
        <testsuite name="User">
            <directory>./test/src</directory>
        </testsuite>
    </testsuites>
    <logging>
        <log type="coverage-clover" target="./test/log/clover.xml"/>
    </logging>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory>./src</directory>
        </whitelist>
    </filter>
</phpunit>
